# Laravel Framework
/vendor
/node_modules
/dist
/dist-ssr
*.local

# Environment
.env
.env.backup
.env.production
.env.*.backup
.env.*.local

# Cache & Compiled assets
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/storage/cache/*
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/app/public/*
!/storage/app/public/.gitignore

# Built assets
/public/storage
/public/hot
/public/build

# IDE & Editor
.vscode
.idea
.phpactor.json
.zed
.fleet
/.nova

# Testing
.phpunit.result.cache
/.phpunit.cache

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Auth
/auth.json
/storage/*.key
/storage/pail

# Homestead
Homestead.json
Homestead.yaml