# Laravel
*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/vendor
/storage/*.key
/storage/pail
/public/storage
/public/hot
/public/build
Homestead.json
Homestead.yaml
Thumbs.db

# Node
node_modules
dist
dist-ssr
*.local

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# Windows
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
